body{
    background-color: #FFF8DC;
}
p{
    color: #2F4F4F;
}
h1, h2, h3 {
    color: tomato;
}
.kozep{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    width: 70%;
}
.kep1{
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 153px;
}
.ee{
  display: flex;
  justify-content: center; 
  align-items: center;  
}
